/**
 * Version: 1.0
 * Author: JuicyCodes
 * Website: https://drive.akademikuliner.com
 */
a,a:focus,a:hover{text-decoration:none}.content .header,.juicycodes{text-align:center}body{margin:0;background-color:#F3F5F8;font-family:"Source Sans Pro",sans-serif;font-size:15px;color:#676a6d}a{color:#3287B2}a:focus,a:hover{color:#3b98c8}#wrapper{height:100%}.vertical-align-wrap{position:absolute;width:100%;height:100%;display:table}.vertical-align-middle{display:table-cell;vertical-align:middle}.content{-moz-box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);-webkit-box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);margin:0 auto;background-color:#fff;width:800px}.content .content-box{vertical-align:middle;padding:15px 20px 20px}.content .header .title{display:inline-block;width:80%;border-bottom:1px solid #E0E0E0;font-size:40px;font-weight:700;color:#f44336}.content .error_message{margin:20px 0;font-size:16px;color:#757575;font-weight:600;text-align:center}.juicycodes{margin-top:15px;font-weight:700;font-size:13px;text-transform:uppercase;color:#9E9E9E}.juicycodes a{color:#03A9F4}@media screen and (max-width:900px){.content{width:90%}}
