/**
 * Version: 1.0
 * Author: JuicyCodes
 * Website: https://drive.akademikuliner.com
 */
a,a:focus,a:hover{text-decoration:none}body{margin:0;background-color:#F3F5F8;font-family:"Source Sans Pro",sans-serif;font-size:15px;color:#676a6d}a{color:#3287B2}a:focus,a:hover{color:#3b98c8}#wrapper{height:100%}.vertical-align-wrap{position:absolute;width:100%;height:100%;display:table}.vertical-align-middle{display:table-cell;vertical-align:middle}.content{-moz-box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);-webkit-box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);box-shadow:1px 2px 10px 0 rgba(0,0,0,.1);margin:0 auto;background-color:#fff;width:500px}.content .content-box{vertical-align:middle;padding:15px 20px 20px}.content .header{text-align:center}.content .header .title{display:inline-block;width:80%;border-bottom:1px solid #E0E0E0;font-size:40px;font-weight:700;color:#009688}.content .download_links{text-align:center;margin-top:15px}.content .download_links a{background:#4ca9ff;color:#fff;padding:8px 15px;font-weight:700;border-radius:20px;display:inline-block;margin:8px;min-width:135px;transition:background .5s}.content .download_links a:hover{background:#60b3ff}.content .download_links a:hover span{background:#39a0ff}.content .download_links a span{background:#3390e5;color:#fff;border-radius:10px;padding:0 5px;transition:background .5s}.content .error_message{margin:20px 0;font-size:16px;padding:10px;color:#f2f2f2;font-weight:600;text-align:center;background-color:#f44336;display:inline-block;width:60%}@media screen and (max-width:900px){.content{width:90%}}
