/**
 * Version: 2.0
 * Author: JuicyCodes
 * Website: https://drive.akademikuliner.com
 */
body{margin:0}:focus{outline:0}.vjs-poster{background-size:cover!important}.banner{position:absolute;top:50px;background:#607D8B;margin-left:auto;margin-right:auto;left:0;right:0;width:300px;height:250px;text-align:center;padding:5px}.banner .close{position:absolute;background:#37474F;color:#fff;padding:2px 6px;right:0;top:0;font-size:14px;font-weight:700;cursor:pointer}.vjs-resolution-button .vjs-menu-icon:before{content:'\f110';font-family:VideoJS;font-weight:400;font-style:normal;font-size:1.8em;line-height:1.67em}.vjs-resolution-button .vjs-resolution-button-label{font-size:1em;line-height:3em;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;box-sizing:inherit}.vjs-resolution-button .vjs-menu .vjs-menu-content{width:4em;left:50%;margin-left:-2em}.vjs-resolution-button .vjs-menu li{text-transform:none;font-size:1em}.jc-logo{position:absolute;top:0;left:0;margin:10px 1.2em}.top-bar{position:absolute;top:0;right:0;left:0}.button{float:right;background:rgba(33,33,33,.8);text-align:center;padding:0;border-radius:50%;cursor:pointer;height:40px;width:40px;margin:10px 1.2em}.btn_icon{width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;opacity:.75;background-size:45%}.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}.embed-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
